<div class="article-title">
  <p>
    <strong>
      Title:
    </strong>

    <br />

    <%= @article.title %>
  </p>

  <p>
    <strong>
      Text:
    </strong>

    <br />

    <%= @article.text %>
  </p>
</div>
