h1 {
  background: red;
}
.container {
  background: white;
  max-width: 800px;
  min-height: 100vh;
  padding: 1rem;
}

div {
  margin: 0 auto;
}

a {
  color: blue;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;

  &:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid blue;
  }
}

.article-container,
.comments-container {
  max-width: 300px;
  background: none;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 2rem 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.articles-table {
  min-width: 400px;
  margin-top: 1rem;
  border-collapse: collapse;
  font-size: 1.2rem;
}

.articles-table td {
  padding: .75rem;
  border: 1px solid black;
}

.articles-table-heading {
  font-size: 1.5rem;

  & > th {
    padding-bottom: 0.5rem;
  }
}

.articles-table-item {
  border: 1px solid black;
  text-align: center;

  &:nth-child(even) {
    background: #ececec;
  }
}

.comments-container {
}

