<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" media="all" data-turbolinks-track="reload" href="_frontend_/css/global.css" />
    <script src="_frontend_/js/application.js" data-turbolinks-track="reload" type="module" defer></script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
